footer.footer-
	.wrapper
		.footer-top
			.footer-top_item
				.footer-top_item_title.footer-title О компании
				ul
					li
						a(href="#") Технология производства
					li
						a(href="#") Акции
					li
						a(href="#") Фото реализованных проектов
					li
						a(href="#") Новости
					li
						a(href="#") Статьи
					li
						a(href="#") Отзывы
					li
						a(href="#") Видео
					li
						a(href="#") Партнеры
					li
						a(href="#") Сертификаты
					li
						a(href="#") Контакты
			.footer-top_item
				.footer-top_item_title.footer-title Каталог
				ul
					li
						a(href="#") Бордюры
					li
						a(href="#") Брусчатка
					li
						a(href="#") Плиты
					li
						a(href="#") Мощения
					li
						a(href="#") Тактильные
				.footer-top_soc
					.footer-top_soc_title.footer-title Мы в соцсетях
					a(href="#").footer-top_soc_a
						img(src="img/ico-soc-1.png", alt="")
					a(href="#").footer-top_soc_a
						img(src="img/ico-soc-2.png", alt="")
					a(href="#").footer-top_soc_a
						img(src="img/ico-soc-3.png", alt="")
					a(href="#").footer-top_soc_a
						img(src="img/ico-soc-4.png", alt="")
					a(href="#").footer-top_soc_a
						img(src="img/ico-soc-5.png", alt="")
			.footer-top_item
				.footer-top_item_title.footer-title Услуги
				ul
					li
						a(href="#") Достройка и реконструкция
					li
						a(href="#") Устройство инженерных коммуникаций
					li
						a(href="#") Устройство фундаментов
					li
						a(href="#") Кредитование
		.footer-bot
			.footer-copy &copy; 2018 «ЗАО ГП»
			a(href="http://xpage.ru" target="_blank").footer-dev
				.footer-dev_text Сделано в
				img(src="img/xpage.png", alt="").footer-dev_img
