header.head-#top
	.wrapper
		.head-adress_block
			.head-tel
				a(href="tel: +78001000000") <span>8 800</span> 100 - 00 - 00
			.head-tel
				a(href="tel: +73512000000") +7 (351) 200-00-00
		.head-logo
			img(src="img/logo.png", alt="")
		nav.head-nav
			ul
				li
					a(href="#") Каталог
				li
					a(href="#") О компании
				li
					a(href="#") Объекты
				li
					a(href="#") Акции
				li
					a(href="#") Контакты
		.burger 
			span