html
	head
		meta(charset="utf-8")
		title О компании
		include inc/head.jade
		include inc/css.jade
	body.inner.page-promo
		#page-wr
			#content(style="background-image: url('img/photos/about-bg.jpg')")
				include inc/header.jade
				.title-block__cont
					.wrapper
						.title-block
							.title-block__crumbs
								.bread-crumbs
									a.bread-crumbs__link(href='#') Главная
									span.bread-crumbs__this О компании
							.title-block__title
								h1 О компании
				
				.about
					.promo__list
						.promo__item
							.wrapper
								.promo__item-cont
									.promo__item-info
										.promo__info-title Предприятие «ТК ГП» более 20 лет занимается обработкой натурального камня и производством готовых гранитных изделий. 
										.promo__info-text В 2016 году в арсенале компании появился собственный карьер, который позволил предприятию не только перейти на новый уровень развития производства, но и в кратчайшие сроки стать неоспоримым лидером по добыче гранита Южно-Султаевского месторождения. Так в группу компаний вошло еще одно мощное и перспективное предприятие - ООО «Гранит».

									.promo__item-img
										figure 
											img(src="img/photos/about-1.jpg", alt="")
						.promo__item
							.wrapper
								.promo__item-cont
									.promo__item-info
										.promo__info-title Южно-Султаевский карьер – один из крупнейших в Челябинской области. 
										.promo__info-text Разведанные запасы гранита составляют более 1500 тысяч квадратных метра. Натуральный камень Южно-Султаевского месторождения выгодно отличается от других уральских гранитов выразительной текстурой и насыщенным цветом, которые предают готовым изделиям изысканный и респектабельный вид. Гранит имеет отличные физико–механические показатели: высокую морозостойкость, низкое водопоглощение, благодаря чему долговечен и практически не подвержен ржавчине.

									.promo__item-img
										figure 
											img(src="img/photos/about-2.jpg", alt="")
						.promo__item
							.wrapper
								.promo__item-cont
									.promo__item-info
										.promo__info-title Мы стремимся к постоянному увеличению объемов производства и добываем блоки как буровзрывным методом, так и методом алмазно-канатного пиления. 
										.promo__info-text Благодаря грамотно выстроенной технологии производства, только за первый год эксплуатации карьера удалось увеличить объемы добычи блоков в десять раз, а процесс откалывания камня сопроводить минимальным воздействием на окружающую среду. Большой объем добычи камня позволяет компании выполнять крупные заказы в короткие сроки. 

									.promo__item-img
										figure 
											img(src="img/photos/about-3.jpg", alt="")
						.promo__item
							.wrapper
								.promo__item-cont
									.promo__item-info
										.promo__info-title Наша компания постоянно работает над повышением качества добываемых блоков.
										.promo__info-text Применение передового опыта добычи природного камня зарубежных коллег, использование мощной производительной техники, современных станков и высокотехнологичного оборудования позволяет получать отличную продукцию высокого качества. 

									.promo__item-img
										figure 
											img(src="img/photos/about-4.jpg", alt="")
						.promo__item
							.wrapper
								.promo__item-cont
									.promo__item-info
										.promo__info-title Компания ООО «Гранит» осуществляет добычу блоков правильной геометрической формы, объем которых варьируется от 1 до 5 и более кубических метров, что позволяет удовлетворять требования любого заказчика. 
										.promo__info-text Мы располагаем собственными камнеобрабатывающими производствами, поэтому точно знаем какими параметрами должен обладать идеальный камень. Соблюдение всех требований государственных стандартов и проведение контроля качества камня перед отгрузкой – являются непреложными принципами компании ООО «Гранит».

									.promo__item-img
										figure 
											img(src="img/photos/about-5.jpg", alt="")


				.offer(style="background-image: url('img/offer.jpg')") 
					.wrapper
						.offer__cont
							.offer__title Мы предлагаем
							.offer__text своим партнерам безупречное качество и выгодные условия сотрудничества. Минуя посредников и работая напрямую<br> с камнедобывающим предприятием ООО «Гранит», вы не только экономите время, но и получаете лучшую цену<br> на гранитные блоки Южно-Султаевского месторождения.



				



			include inc/footer.jade
		include inc/scripts.jade