html
	head
		meta(charset="utf-8")
		title 
		include inc/head.jade
		include inc/css.jade
	body.inner
		#page-wr
			#content
				include inc/header.jade
				.title-block__cont
					.wrapper
						.title-block
							.title-block__crumbs
								.bread-crumbs
									a.bread-crumbs__link(href='#') Главная
									span.bread-crumbs__this Оборудование
							.title-block__title
								h1 Оборудование
				.wrapper
					.category-sub
						.category-sub__list
							- for (var i = 1; i < 7; i++)
								a(href="#").category-sub__item
									figure.category-sub__item-img
										img(src="img/photos/cs-1.jpg", alt="")
									.category-sub__item-title Плита облицовочна
									.category-sub__item-info
										.property Размер:
											span 300х300
										.property Цена:
											span по запросу

						

								

				



			include inc/footer.jade
		include inc/scripts.jade