html
	head
		meta(charset="utf-8")
		title Бордюр 2
		include inc/head.jade
		include inc/css.jade
	body.inner
		#page-wr
			#content
				include inc/header.jade
				.title-block__cont
					.wrapper
						.title-block
							.title-block__crumbs
								.bread-crumbs
									a.bread-crumbs__link(href='#') Главная
									a.bread-crumbs__link(href='#') Каталог
									a.bread-crumbs__link(href='#') Изделия из камня
									a.bread-crumbs__link(href='#') Бордюры
									span.bread-crumbs__this Бордюр 2
							.title-block__title
								h1 Бордюр 2

				.wrapper
					.tovar
						.tovar__image
							figure.image
								img(src="img/photos/bp.jpg")
						.tovar__desc
							.tovar-desc
								table.tovar-desc__table
									tbody
										each item in [{title: "Размер, мм", value: "1000*200*80"}, {title: "Производитель", value: "BRAER"}, {title: "Страна", value: "Россия"}, {title: "Цвет", value: "Серый"}, {title: "Тип оборудования", value: "БР"}, {title: "Высота, мм", value: "200"}, {title: "Вес кг/м2", value: "36"}, {title: "Вес кг", value: "36.65"}, {title: "Бренд", value: "BRAER"}, {title: "Водопоглощение, %", value: "<6"}, {title: "Материал", value: "Бетон"}, {title: "Количество на поддоне, шт", value: "48"}, {title: "Количество на поддоне, м2", value: "48"}, {title: "Класс бетов по прочности на сжатие, В", value: "22.5"}, {title: "Истираемость, г/см2", value: "<0.9"}, {title: "Марка морозостойкости", value: "F200-300"}, {title: "Количество шт/пог.м.", value: "1"}, ]
											tr
												td=item.title
												td=item.value
						.tovar__buy
							.tovar-buy
								.tovar-buy__price
									.tovar-price 12 144 
										i.rub ₽
								.tovar-buy__type
									.tovar-buy__type-count
										.counter
											input.counter__input(type="tel" value="1")
									.tovar-buy__type-type
										.tovar-type
											.tovar-type__item
												input.tovar-type__input#type-1(type="radio" name="type")
												label.tovar-type__label(for="type-1") мп
											.tovar-type__item
												input.tovar-type__input#type-2(type="radio" name="type" checked="")
												label.tovar-type__label(for="type-2") под
								.tovar-buy__text
									p Тут будет 
										b како-то
										| текст
								.tovar-buy__to-cart
									a.cart-add(href="#") В корзину
					.tovar__text
						.text-page
							h2
								| h2. В Челябинске открылись два
								br
								|  новых фирменных магазина
							dl
								dt Лид
								dd
									| — это первый абзац статьи, информативный отрывок
									| позволяющий захватить внимание читателя на данном
									| материале. Необязательный элемент.
							p
								| Эта страница создана для демонстрации блоков и элементов,
								| которые используются на сайте, и служит руководством для
								| всех, кто работает над ним. Дизайнеры и технологи отрабатывают
								| здесь стили, чтобы добиться приемлемых результатов в
								| различных сочетаниях блоков и элементов. Контент-менеджеры
								| и редакторы используют страницу в качестве справочника
								| по верстке типовых страниц. Здесь же рассказывается о
								| некоторых общих правилах оформления контента.
							h3
								| H3. Дополнительная колонка может
								br
								|               быть снабжена заголовками
							p
								| Многострочный заголовок, длина которого иногда бывает так
								| некстатиТиповые элементы оформляются в системе администрирования через визуальный редактор «Реформатор». Чтобы контент-менеджеру было легче в них ориентироваться, их количество лучше свести к необходимому минимуму.
							h4
								| H4. Дополнительная колонка может
								br
								|               быть снабжена заголовками
							p
								| Имманентный подход подразумевает отношение к тексту как к автономной реальности, нацеленность на выявление его внутренней структуры. Репрезентативный — рассмотрение текста как особой формы представления знаний о внешней тексту действительности.
							h5
								| H5. В первую очередь нас интересуют интерлиньяж и отступы, но не стоит забывать и про сам заголовок
							h3 Списки
							p Кроме того, существуют правила оформления списков:
							ul
								li
									| Если пункты списка длинные и представляют собой развернутые предложения,   
									| они должны начинаться с прописной буквы и заканчиваться точкой.
									ul
										li
											| Если пункты списка длинные и представляют собой развернутые предложения, они должны
											| начинаться с прописной буквы и заканчиваться точкой.
										li
											| Если пункты списка короткие, не являются самостоятельной законченной конструкцией и
											| грамматически тесно связаны с предшествующей списку вводной фразой, они должны
											| начинаться
								li
									| Если пункты списка короткие, не являются самостоятельной законченной
									| конструкцией и грамматически тесно связаны с предшествующей списку вводной
									| фразой, они должны начинаться со строчной буквы и заканчиваться точкой с
									| запятой (в конце последнего пункта — точка).
							ol
								li
									| Если пункты списка длинные и представляют собой развернутые предложения, они
									| должны начинаться с прописной буквы и заканчиваться точкой.
								li
									| Если пункты списка короткие, не являются самостоятельной законченной
									| конструкцией и грамматически тесно связаны с предшествующей списку вводной
									| фразой, они должны начинаться со строчной буквы и заканчиваться точкой с
									| запятой (в конце последнего пункта — точка).
							h3 Ссылки
							p
								| На сайте может встречаться несколько видов ссылок. Например, ссылка на  
								a(href='index.html') Яндекс
								|  является внешней. Внутренние ссылки могут открываться по умолчанию в текущем окне (например, переход на 
								a(href='index.html') главную страницу
								| ) или в 
								a(href='index.html', target='_blanck') новом окне
								|  (например, для показа изображений в оригинальном размере).
							table(border='1')
								thead
									tr
										th Аутсорсинг
										th Консалтинг
										th Проектирование
										th Аудит
								tbody
									tr
										td 1
										td 5000 р.
										td 35 дней
										td 3,3%
									tr
										td 1
										td 5000 р.
										td 35 дней
										td 3,3%
									tr
										td
											| Потрясающий,
											br
											|  невероятно насыщенный
										td 5000 р.
										td 35 дней
										td 3,3%

			include inc/footer.jade
		include inc/scripts.jade